@tailwind base;
@tailwind components;
@tailwind utilities;



.border-imgcus {
    border: 10px solid transparent;
  
    padding: 10px;
    border-image: url("https://i.pinimg.com/564x/1d/a1/cf/1da1cff32e1b317917af26b3db01ce0f.jpg")
      20 stretch;
  }